legend{
  color: white;
  padding: 5px 10px;
}

fieldset{
  color: black;
}

.gender{
  line-height: 200px;
  text-align: center;
}

#wrap {
  float: left;
  position: relative;
  left: -12%;
}

#wrapdd {
  float: left;
  position: relative;
  left: -2.5%;
}