legend{
  color: white;
  padding: 5px 10px;
}

fieldset{
  color: black;
}

.gender{
  line-height: 200px;
  text-align: center;
}

.center {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center
}

.centermain {
  text-align: center;
  white-space: nowrap;
}